/*#ffeeb3	
#b5e7f3	
#ffcbdb	
#c29783	
#ffe3cd */

* {
  background-color: #ffe3cd;
}

body {
  background-color: #ffe3cd;
}

/*Main HTML*/
form {
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
 }

 button.btn.btn-primary {
  background-color: #b5e7f3;
  color: black;
  border-color: #b5e7f3;
 }