/*#ffeeb3	
#b5e7f3	
#ffcbdb	
#c29783	
#ffe3cd */

* {
  background-color: #ffe3cd;
}

body {
  background-color: #ffe3cd;
}

/*Navbar*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
background-color: #c29783!important;
}

/*Main HTML*/
form {
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
 }

 button.btn.btn-primary {
  background-color: #ffcbdb;
  color: black;
  border-color: #ffcbdb;
  border-radius: 5px;
 }

 /*Members HTML*/
 
 div.card-body {
   border-radius: 15px 50px;
   background-color: #b5e7f3;
   color: black;
   width: 50%;
  padding: 5px;
  font-size: 30px;
  margin: 20px;
 }

 div.card {
  border-radius: 15px 50px;
   background-color: #b5e7f3;
   color: black;
   width: 50%;
  padding: 5px;
  margin: 20px;
 }

 div.column {
   background-color: #b5e7f3;
 }

 div.card-body.logout {
  border-radius: 15px 50px;
  background-color: #b5e7f3;
  color: black;
  width: 20%;
 padding: 10px;
 }


div.card.logout {
 border-radius: 15px 50px;
  background-color: #b5e7f3;
  color: black;
  width: 10%;
 padding: 10px;

}

/*Sign Up Page*/

div#id01.modal {
background-color: #ffe3cd;
}

form.modal-content {
  background-color: #ffe3cd;
  border: none;
}